<ul class="nav nav-tabs">
    <li class="active">
        <a data-toggle="tab"><i class="icon-folder-open" style="margin-right: 10px;">
        </i>数据</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane in active">
        <div class="control-group">
            <label class="control-label" for="selected_source"></label>
            <div class="controls">
            <select id="selected_source" class="fullwidth">
                <option>==选择数据==</option>
                <% _.each(sources, function(source) { %>
                <!-- TODO: to improve the magic number -->
                <option value="<%= source %>"><%= source.substr(3) %></option>
                <% }); %>
            </select>
            </div>
        </div>
        <div class="control-group">
            <button class="btn btn-block" id="new-source" data-toggle="modal">
                导入新数据</button>
            <button class="btn btn-block" id="quality" data-toggle="modal">
                生成质量结果报告</button>
        </div>
    </div>
</div>
<p>

<ul class="nav nav-tabs">
    <li class="active">
        <a data-toggle="tab"><i class="icon-edit" style="margin-right: 10px;">
        </i>规则</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane in active">
        <div class="control-group">
            <button class="btn" id="new_plan">新建</button>
            <button class="btn" id="detect">检测</button>
            <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    更多
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#" id="edit_plan">编辑</a></li>
                    <li><a href="#" id="delete">删除</a></li>
                    <!--<li class="divider"></li>-->
                    <!--<li><a href="#" id="btn-discover">探索</a></li>-->
                    <!--<li><a href="#" id="repair" class="disabled">修复</a></li>-->
                </ul>
            </div>
        </div>
        <div class="control-group">
            <select multiple id="selected_rule" class="selectbox fullwidth" size="2">
            </select>
        </div>
        <label>详细</label>
        <div id="detail">
            <div class="well well-small"><span>无</span></div>
        </div>
    </div>
</div>
<p>
<ul class="nav nav-tabs">
    <li class="active">
        <a data-toggle="tab"><i class="icon-tasks" style="margin-right: 10px;">
        </i>过程</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane in active">
        <div id="progressbar"></div>
    </div>
</div>
