<!-- Data source editor -->
<div class="modal hide" id="evaluation-report" style="width: 210mm">
    <div class="modal-header">
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-hidden="true">
            &times;
        </button>
        <h4>数据质量评估报告</h4>
    </div>

    <div class="modal-body" id="report">
        <h3 style="text-align: center">数据质量评估报告</h3>
        <h4>概览</h4>
        <div id="report-overview">
            <canvas id="myChart" style="height: 400px; width: 200mm"></canvas>
        </div>
        <!--<h4>规则属性</h4>-->
        <!--<div id="report-attribute">-->
            <!--<svg style="height: 400px; width: 200mm"></svg>-->
        <!--</div>-->
        <!--<h4>规则分布</h4>-->
        <!--<div id="report-distribution">-->
            <!--<svg style="height: 400px; width: 200mm"></svg>-->
        <!--</div>-->
        <!--<h4>元组排名</h4>-->
        <!--<div id="report-tupleRank">-->
            <!--<svg style="height: 400px; width: 200mm"></svg>-->
        <!--</div>-->
    </div>

    <div class="modal-footer">
        <button class="btn" id="generate-pdf">生成PDF</button>
        <button class="btn" id="export-pdf">导出PDF</button>
    </div>
</div>
