<div style="margin: 20px;">
    <div class="well well-small" style="width: 90%">
        <p style="font-size: 16px;">
            用户定义函数(UDF)规则提供了利用接口的表达式。请使用选项卡的 <span class="label label-info">代码</span>
           标签来编写用户定义函数 Java 规则。
        </p>
        <p class="text-center">
            <a href="#"
               class="btn btn-info disabled"
               id="create-single-tuple">Create Single Tuple Rule</a>
            <a href="#"
               class="btn btn-info disabled"
               id="create-pair-tuple">Create Pair Tuple Rule</a>
        </p>
    </div>
</div>
